.elements {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  object-fit: contain;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  grid-column-gap: 17px;
  grid-row-gap: 20px;
;
}

@media screen and (max-width: 1279px) {
    .elements {
    grid-column-gap: 13px;
    grid-row-gap: 15px;
}
}

@media screen and (max-width: 1023px) {
    .elements {
      grid-column-gap: 20px;
    }
  }

  @media screen and (max-width: 767px) {
    .elements {
      margin-top: 36px;
    }
  }