.popup__close {
  background: url(../../../images/Close_Icon.svg) center no-repeat;
  background-size: auto;
  width: 40px;
  height: 40px;
  border: none;
  position: absolute;
  top: -48px;
  right: -48px;
}
 .popup__close:hover {
    opacity: 0.6;
    cursor: pointer;
 }

 @media screen and (max-width: 767px) {
   .popup__close {
     top: -38px;
     right: 0;
     width: 26px;
     height: 26px;
     margin: 0;
     padding: 0;
   }
 }
